.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin-top: 80px;
}

@media screen and (max-width: 960px) {
  .footer__copyright {
    padding: 0 19px;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}